
body{
background-color:  transparent;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.verde{
    background-color: #006847;
    width: 34%;
    height: 1000px;
    float: left;
    filter: url("#turbulence");
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.blanco{
   
    background-color: #fff;
    width: 33%;
    height: 1000px;
    float: left;
    text-align: center;
    filter: url("#turbulence");
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
.rojo{
    
    background-color: #CE1126;
    width: 33%;
    height: 1000px;
    float: left;
    filter: url("#turbulence");
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    height: 100%;
}
#imagen{
    margin-top: 110px;
    margin-left: -590px;
    position: absolute 
    ;
}